# Code editors / IDEs
*.code-workspace
.vscode/
.idea/
*.suo
*.ntvs*
*.sw?

# Node
**/node_modules/
*.tgz

# Python
*.pyc
**/__pycache__/

# Build
npm/@mcbundle/*
!npm/@mcbundle/README.md
internal/assets/
**/dist/
**/debug/

# User ignored files
config.mk
/*[Uu][Ss][Ee][Rr]*
