# Code editors / IDEs
*.code-workspace
.vscode/
.idea/
*.suo
*.ntvs*
*.sw?

# Node
**/node_modules/
*.tgz

# Build
npm/@mcbundle/*
!npm/@mcbundle/.gitkeep
**/dist/
**/debug/
.og.*
npm/tools/**/*.d.ts

# User ignored files
config.mk
/*[Uu][Ss][Ee][Rr]*
